#idea-display {
  background-color: #EAEAF4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 60%;
  overflow: scroll;
}

.idea {
  height: 200px;
  width: 200px;
  border: 2px solid #1F1F3D;
  border-radius: 2px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.idea-header {
  height: 15%;
  background-color: #1F1F3D;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    height: 90%;

    &.star {
      content: url('../assets/star.svg');

      &.active {
        content: url('../assets/star-active.svg');
      }
    }

    &.close {
      content: url('../assets/menu-close.svg');
    }
  }
}

.idea-text {
  height: 70%;
  font-family: "Open Sans";
  overflow: scroll;

  h2, p {
    font-size: 15px;
    margin: 5px;
  }

  h2 {
    font-weight: bold;
  }

  p {
    font-weight: light;
    text-align: justify;
  }
}

.idea-footer {
  height: 15%;
  background-color: #5356A4;
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 95%;

    &.comment {
      content: url('../assets/comment.svg');
    }
  }

  p {
    font-family: "Open Sans";
    font-weight: bold;
    color: #E9E9F3;
  }
}

