html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h2, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
}


#main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
}

@import "drawer.scss";
@import "form.scss";
@import "ideas.scss";
