html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Open Sans";
  font-weight: bold;
  color: #E9E9F3;
  text-align: center;
}

body {
  display: flex;
  flex-direction: row;
}

#drawer {
  background-color: #1F1F3D;
  height: 100%;
  width: 20%;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
}

#form {
  background-color: #A9AAD2;
  height: 40%;
}

#idea-display {
  background-color: #EAEAF4;
  height: 60%;
}
